.root {
  display: flex;
  margin-top: 200px;
}
.spacer {
  flex: 3;
}
.App {
  flex: 18;
  background-color: rgba(128, 128, 128, 0.106);
  padding: 10px;
}
.container {
  display: flex;
  margin-top: 40px;
}
.left-side {
  flex: 20;
}
.right-side {
  flex: 5;
  margin-left: 10px;
  border: 5px solid #2f254d;
}
.score {
}
